section{
  height: 100vh;
  padding: 7rem 0;
  border-bottom: 1px solid grey;
}

// ------------------ Home ------------------ //
#s__home {
  margin-top: -160px; // Negativo do cabeçalho height, ajuste conforme necessário
  height: calc(100vh + 120px); // Para cobrir completamente a altura da tela, incluindo sob o cabeçalho
  position: relative;
  overflow: hidden;
  @include flex(row, center, center);  
  swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; // Fica no fundo
  }

  swiper-slide {
    @include flex(row, center, center);  
    background-color: #fff;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; 
      max-width: 100%; 
      height: auto;
      image-rendering: optimizeQuality;
      border: 0; 
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); // Ajuste a opacidade conforme necessário
      z-index: 1;
    }
  }

  .info {
    @include flex(column, center, center);  
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1; // Fica acima do swiper
    color: black;
    text-align: center;
       
    .typewriter {
      font-family: 'Anonymous Pro', monospace;
      width: 100%;  
    }
    h1 {
      overflow: hidden;
      margin: 0 auto;
      display: inline-block;
      font-weight: bold;
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);   
    }
    h1:after{
     content: '';
      display: inline-block;
      background-color: black;
      margin-left: 2px;
      height: 25px;
      width: 4px;
      animation: cursor 0.4s infinite;
    }
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 2;
    width: 48px;
    height: 48px;
    @include flex(row, center, center);  
    font-weight: bold;
    color: black;

    svg {
      --progress: 0;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: black;
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }
  }

 

  @media (max-width: 768px) { // Smartphones
    position: relative;
    top: 0;
    height: 100vh;

    swiper-slide {
     
     img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      
    }
    }
    .info {
      font-size: 1.5rem;
      h1 {
        margin-top: 0;
      }
    }
  }

 
  @keyframes cursor {
    0% { opacity: 1; }
      49% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 0; }
  }


 
}

// ------------------ Veículos ------------------ //
#s__veiculos{
  background-image: url('../img/fundo.avif');

  height: auto;
 .container{
    @include flex(column, center, center);  
    gap: 5rem;
    .row{
      .col-md-3{
        .card {
          @include flex(column, center, center);  
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
          border-radius: 10px;
          overflow: hidden;
          margin-bottom: 20px; 
          transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
        
          .carousel{
            .carousel-indicators{

            }

            .carousel-inner{
              .carousel-item{
                width: 100%;
                img {
                  display: block; 
                  height: auto;
                  border: 0; 
                  width: 20%;
                  height: auto;
                  object-fit: cover; 
                  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 

                }
              }
            }
          }

          .title-card {
            @include flex(column, left, center);  
            padding: 1rem 0 0 1rem;
            width: 100%;
            h3{
              font-weight: 700;
            }

            .title-infos {
                width: 100%;
                font-weight: 0.1rem !important;
                text-align: justify;
                color: #bfbfbf; /* Esta é outra opção de cinza claro */
                font-weight: 700;
            }
          }

          .infos-card{
            @include flex(column, left, center);
            width: 100%;  
            padding: 0 2rem;

            .valor{
              p{
                @include flex(column, center, center);
                width: 100%;
                font-size: 2rem !important;
                font-weight: 800;
                color: var(--red-color);
              }
            }

            .ano-quilometragem-cambio{
              @include flex(row, center, space-around);
              width: 100%;

              .ano, 
              .quilometragem,
              .cambio{
                @include flex(column, center, center);
                gap: 5px;

                i{
                  font-size: 1.5rem !important;
                  font-weight: 700;
                  color: #bfbfbf; /* Esta é outra opção de cinza claro */
                }

                p{
                  font-size: 0.8rem !important;
                  font-weight: 700;
                  color: #bfbfbf; /* Esta é outra opção de cinza claro */
                }
              }
            }
          }

          .btn {
              padding: 8px; // Adiciona padding para tornar o botão mais alto
              font-size: 1.2rem; // Ajusta o tamanho da fonte para melhor legibilidade
              font-weight: bold; // Deixa o texto em negrito
              border: none; // Remove qualquer borda que possa estar definida
              border-radius: 8px; // Arredonda os cantos do botão
              background-color: #E23C39; // Cor de fundo azul padrão do Bootstrap
              color: white; // Define a cor do texto para branco
              transition: background-color 0.3s, color 0.3s; // Suaviza a transição de cores
              margin: 5px 0 20px 0;
              border: 1px solid white;
          }

          .btn:hover{
            
              background-color: white;
              color: #E23C39;
              border: 1px solid #E23C39;
          }
        }
        .card:hover {
          transform: scale(1.05); 
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          .carousel{
            .carousel-inner{
              .carousel-item{
                
                img {
                  transform: scale(1.05); 
                }
              }
            }
          }
        }
      }
    }

    .btn {
      padding: 15px 20px; 
      font-size: 1.2rem; 
      font-weight: bold; 
      border: none; 
      border-radius: 8px; 
      background-color: #E23C39;
      color: white; 
      transition: background-color 0.3s, color 0.3s; 
      border: 1px solid white;
      margin: -20px 0 -20px 0;
  }

  .btn:hover{
      background-color: white;
      color: #E23C39;
      border: 1px solid #E23C39;
  }












  // ------------------ Responsividade


 }
}

// ------------------ Mensagem ------------------ //
#s__mensagem{
  padding: 0;
  height: auto;
    img{
      width: 100%;
      height: 80vh;
      
  }
}



// ------------------ Serviços ------------------ //
#s__servicos {
  background-image: url('../img/fundo.avif');
  height: auto;
  padding: 4rem 0;
  background: #f7f7f7;
  .services-title {
      text-align: center;
      color: #333;
      margin-bottom: 3rem;
  }
  .service-cards {
       .row{
          @include flex(row, center, center);  
          gap: 3rem;
          margin-bottom: 20px;
          .card{
            @include flex(column, center, center);  
            gap: 1rem;
            background: #ffffff;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            border-radius: 8px;
            padding: 2rem;
            //width: 20%;
            height: 200px;
            text-align: center;
    
            h4{
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.4;
            }
    
            p{
              font-size: 1.2rem !important;
              color: #666;
              text-align: justify;
            }
          }
        }
    
     
  }
  
  
}











// ------------------ Sobre ------------------ //
#s__sobre {
  height: 90vh !important;
  background-image: url('../img/loja3.webp');
  background-size: cover;  // Garante que a imagem de fundo cubra todo o espaço disponível
  background-position: center;  // Centraliza a imagem de fundo
  background-repeat: no-repeat;  // Evita a repetição da imagem
  background-attachment: fixed;
  background-blend-mode: overlay;
  padding: 4rem 0;
  @include flex(row, center, center);  


  // Adiciona um overlay ofuscante sobre a imagem de fundo
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);  // Escurece a imagem de fundo, você pode ajustar a opacidade conforme necessário
    z-index: -1;
  }

  .about-title {
    text-align: left;
    color: white;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75); // Aplica sombra no título
  }
  .about-content {
    @include flex(row, center, center);  

    .about-image {
      width: 40%;
      img {
          width: 100%;
          height: auto;
          border-radius: 8px;
      }
    }

    .about-text {
      width: 80%;
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75) !important; // Sombra para melhorar a legibilidade
      line-height: 1.8;

      p {
        margin-top: 2rem;
        font-size: 2.5rem !important;
        color: white;
        font-weight: 600;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1) !important; // Sombra no sub-título para contraste
      }
    }
  }


 
}





// ------------------ Contato ------------------ //
#s__contato{
  background-image: url('../img/fundo.avif');
  height: auto;
  .container{
    h2{
      margin: 0 0 50px 0;
    }
    .row{
      @include flex(row, center, center); 
      gap: 180px; 
      .col-md-3{
        //max-width: 20%;
        iframe{
          border-radius: 20px;
        }
   

      }

      .col-md-6{
        border: 1px solid red;
        max-width: 40%;
        p{
          text-align: justify;
        }
      }

    }
    
  }
}