section{
  height: 100vh;
  padding: 7rem 0;
  border-bottom: 1px solid grey;
}

// ------------------ Home ------------------ //
#s__home {
  margin-top: -160px; // Negativo do cabeçalho height, ajuste conforme necessário
  height: calc(100vh + 120px); // Para cobrir completamente a altura da tela, incluindo sob o cabeçalho
  position: relative;
  overflow: hidden;
  @include flex(row, center, center);  
  swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; // Fica no fundo
  }

  swiper-slide {
    @include flex(row, center, center);  
    background-color: #fff;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; 
      max-width: 100%; 
      height: auto;
      image-rendering: optimizeQuality;
      border: 0; 
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); // Ajuste a opacidade conforme necessário
      z-index: 1;
    }
  }

  .info {
    @include flex(column, center, center);  
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1; // Fica acima do swiper
    color: black;
    text-align: center;
       
    .typewriter {
      font-family: 'Anonymous Pro', monospace;
      width: 100%;  
    }
    h1 {
      overflow: hidden;
      margin: 0 auto;
      display: inline-block;
      font-weight: bold;
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);   
    }
    h1:after{
     content: '';
      display: inline-block;
      background-color: black;
      margin-left: 2px;
      height: 25px;
      width: 4px;
      animation: cursor 0.4s infinite;
    }
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 2;
    width: 48px;
    height: 48px;
    @include flex(row, center, center);  
    font-weight: bold;
    color: black;

    svg {
      --progress: 0;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: black;
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }
  }

 

  @media (max-width: 768px) { // Smartphones
    position: relative;
    top: 0;
    height: 100vh;

    swiper-slide {
     
     img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      
    }
    }
    .info {
      font-size: 1.5rem;
      h1 {
        margin-top: 0;
      }
    }
  }

 
  @keyframes cursor {
    0% { opacity: 1; }
      49% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 0; }
  }


 
}

// ------------------ Veículos ------------------ //
#s__veiculos{
  
 .container{

    .row{
      .col-md-4{
        .card {
          @include flex(column, center, center);  
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
          border-radius: 10px;
          overflow: hidden;
          margin-bottom: 20px; /* Espaçamento entre os cards quando em colunas */
        
          .carousel{

            .carousel-indicators{

            }

            .carousel-inner{
              .carousel-item{
                width: 100%;
                img {
                  display: block; 
                  height: auto;
                  border: 0; 
                  width: 20%;
                  height: auto;
                  object-fit: cover; 
                }
              }
            }

          }

          .title-card {
            @include flex(column, left, center);  
            padding: 0 1rem;
            width: 100%;
            h3{
              font-weight: 700;
            }

            .title-infos {
                width: 100%;
                font-weight: 0.1rem !important;
                text-align: justify;
                color: #bfbfbf; /* Esta é outra opção de cinza claro */
                font-weight: 700;
            }
          }

          .infos-card{
            @include flex(column, left, center);
            width: 100%;  
            padding: 0 2rem;

            .valor{
              p{
                @include flex(column, center, center);
                width: 100%;
                font-size: 1.5rem;
                font-weight: 800;
                color: var(--red-color);
              }
            }

            .ano-quilometragem{
              @include flex(row, center, space-around);
              width: 100%;

              p{
                font-weight: 700;
                color: #bfbfbf; /* Esta é outra opção de cinza claro */
              }
            }

            .localizacao{
              @include flex(row, center, center);
              gap: 20px;
              p, i{
                color: #bfbfbf;
              }

              p{
                width: 100%;
                font-weight: 700;

                @include flex(row, center, center);

              }
            }


          }

       
          
         
            .btn {
              width: 30%; // Aumenta a largura para preencher o espaço disponível
              padding: 12px 0; // Adiciona padding para tornar o botão mais alto
              font-size: 1.2rem; // Ajusta o tamanho da fonte para melhor legibilidade
              font-weight: bold; // Deixa o texto em negrito
              border: none; // Remove qualquer borda que possa estar definida
              border-radius: 8px; // Arredonda os cantos do botão
              background-color: #E23C39; // Cor de fundo azul padrão do Bootstrap
              color: white; // Define a cor do texto para branco
              transition: background-color 0.3s, color 0.3s; // Suaviza a transição de cores
              margin: 20px;
            }

            .btn:hover{
            
              background-color: white;
              color: #E23C39;
              border: 1px solid #E23C39;
            }
          

        }
      }
    }












  // ------------------ Responsividade


 }
}





// ------------------ Serviços ------------------ //
#s__servicos {
  padding: 4rem 0;
  background: #f7f7f7;
  .services-title {
      text-align: center;
      color: #333;
      margin-bottom: 3rem;
  }
  .service-cards {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 20px;
  }
  .service-card {
      background: #ffffff;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      border-radius: 8px;
      padding: 2rem;
      width: 20%;
      text-align: center;
      img {
          width: 80px;
          height: 80px;
      }
      h3 {
          color: #333;
          margin-top: 1rem;
      }
      p {
          font-size: 1rem;
          color: #666;
      }
  }
  @media (max-width: 768px) {
      .service-cards {
          flex-direction: column;
          align-items: center;
      }
      .service-card {
          width: 80%;
          margin-bottom: 2rem;
      }
  }
}











// ------------------ Sobre ------------------ //
#s__sobre {
  background: #fff;
  padding: 4rem 0;
  height: auto;

  .about-title {
      text-align: left;
      color: #333;
      margin-bottom: 2rem;
  }
  .about-content {
    @include flex(row, center, space-between);  

    .about-image {
      width: 40%;
      img {
          width: 100%;
          height: auto;
          border-radius: 8px;
      }
    }

    .about-text {
      width: 50%;
      font-size: 1.2rem;
      color: #666;
      line-height: 1.8;
      h2 {
          margin-top: 2rem;
          color: #333;
      }
    }
  }


 
}
